<!DOCTYPE html>
<html>
  <head>
    <title>YarnWithRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <link rel="manifest" href="/manifest.json" />
    <meta name="apple-mobile-web-app-capable" content="yes"></head>

  <body class= "<%= controller_name %> <%= action_name %>">
    <%= yield %>
  </body>
</html>
